<h1> Facturas </h1>

<img src="https://play-lh.googleusercontent.com/BdJ8OZ0uNziCNgn3ezqc__Wh8DrqoN1QmLLbO-_rYN0EbjYWuDkaAEIPNA1mJxjEhWE" class="img-fluid" alt="Responsive image">

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">CodigoFactura</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Total Factura</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Iva</th>
            <th scope="col">Estado</th>
            <th scope="col">Pagada</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of facturas">
            <td>{{element.id}}</td>
            <td>{{element.name}}</td>
            <td>{{element.codigoFactura}}</td>
            <td>{{element.ciudad}}</td>
            <td>{{element.totalFactura}}</td>
            <td>{{element.subtotal}}</td>
            <td>{{element.iva}}</td>
            <td>{{element.estado}}</td>
            <td>{{element.pagada}}</td>
        </tr>
    </tbody>
</table>

  
  